@import url("https://use.typekit.net/col6oad.css");

:root {
  --color-neutral-50: #030408;
  --color-neutral-100: #0e0e23;
  --color-neutral-200: #313949;
  --color-neutral-300: #434f63;
  --color-neutral-400: #55647d;
  --color-neutral-500: #7083a3;
  --color-neutral-600: #99a7be;
  --color-neutral-700: #b5bfd0;
  --color-neutral-800: #d2d8e2;
  --color-neutral-900: #f9fafb;
  --color-primary-50: #f5f5ff;
  --color-primary-100: #e1e1fe;
  --color-primary-200: #c3c4fe;
  --color-primary-300: #9b9dfd;
  --color-primary-400: #7375fd;
  --color-primary-500: #2a4aff;
  --color-primary-600: #0f2fe1;
  --color-primary-700: #001bb2;
  --color-primary-800: #0306ba;
  --color-primary-900: #02058d;
  --color-secondary-50: #f3e7fe;
  --color-secondary-100: #dfc5fd;
  --color-secondary-200: #ca9dfd;
  --color-secondary-300: #b371fe;
  --color-secondary-400: #6d01bc;
  --color-secondary-500: #3f036b;
  --color-secondary-600: #810ef3;
  --color-secondary-700: #005eba;
  --color-secondary-800: #006ad2;
  --color-secondary-900: #0181ff;
  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #86efac;
  --color-success-400: #4ade80;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803d;
  --color-success-800: #0aff96;
  --color-success-900: #042718;
  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;
  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;

  --color-generic-white: #ffffff;
  --color-generic-black: #000000;
  --color-error-black: #000000;
  --color-generic-background: #ffffff;

  /* FONTS */
  --font-family-primary: "acumin-pro";
  --font-family-secondary: "acumin-pro";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 900;
  --color-primary: var(--color-primary-500);

  /* LINEAR GRADIENTS */
  --linear-gradient: linear-gradient(90deg, var(--color-secondary-300) 0%, var(--color-secondary-900) 100%);

  /* BORDERS */
  --border: 1px solid var(--color-neutral-300);
  --border-button: "none";

  /* BORDER RADIUS */
  --border-radius-button: 32px;
  --border-radius-searchbar: 8px;
  --border-radius-nft: 8px 8px 0 0;
  --border-radius-nft-container: 8px 8px 8px 8px;
  --border-radius-select: 8px 0 0 8px;
  --border-radius-amount-input-field: 0 8px 8px 0;
  --border-radius-collection-card: 16px;

  /* SHADOWS */
  --color-shadow: "none";
  --shadow: "none";
  --color-shadow1: rgba(255, 255, 255, 0.15);
  --color-shadow2: rgba(255, 255, 255, 0.11);
  --color-shadow3: rgba(255, 255, 255, 0.05);
  --color-shadow4: "none";
  --box-shadow-11: 0 6px 12px rgba(255, 255, 255, 0.11);
  --box-shadow-15: 0 6px 12px rgba(255, 255, 255, 0.15);
  --box-shadow-4: 0 6px 12px rgba(255, 255, 255, 0.04);

  /* USERMENU */
  --background-menu: var(--color-neutral-50);

  /* LOGO */
  --logo-hover-color: var(--color-generic-white);

  /* NFT CARDS */
  --nft-info: rgba(17, 24, 39, 0.4);
  --nft-info-color1: var(--color-neutral-900);
  --nft-card-ratio: 16/24;

  /* COLLECTION CARD */
  --border-collection-card: "none";
  --border-radius-collection-card: 16px;
  --border-collection-card-img: none;
  --border-radius-collection-card-img: 8px;
  --font-color-collection-card: var(--color-neutral-900);
  --filter-banner-collection-card: blur(8px);

  /* MARKET PREVIEW */
  --border-market-preview: none;
  --border-radius-market-preview: 8px;
  --box-shadow-market-preview: none;
  --background-color-market-preview: rgba(17, 24, 39, 0.3);
  --background-color-market-preview-hover: rgba(17, 24, 39, 0.5);
  --owner-typo-color: var(--color-neutral-50);

  /* BUTTONS */
  /** OUTLINE BUTTONS **/
  --color-button-outline-neutral-700: var(--color-generic-white);
  --color-button-outline-primary-900: var(--color-generic-white);
  --border-outlined-primary: var(--color-primary-800);

  /** TEXT BUTTONS **/
  --color-button-text-success: var(--color-success-500);
  --color-button-text-success-hover: var(--color-success-700);
  --color-button-text-success-active: var(--color-success-700);
  --color-button-text-success-disabled: var(--color-secondary-300);
  --color-text-primary: var(--color-secondary-900);
  --color-text-primary-hover: var(--color-secondary-800);
  --color-text-primary-active: var(--color-secondary-700);
  --color-text-primary-disabled: var(--color-secondary-200);

  /** CONTAINED BUTTONS **/
  --contained-buttons-background: var(--color-primary-500);
  --contained-buttons-background-hover: var(--color-primary-600);
  --contained-buttons-background-active: var(--color-primary-700);
  --contained-buttons-background-disabled: var(--color-primary-200);
  --contained-buttons-color-disabled: var(--color-neutral-200);
  --color-contained-button: var(--color-neutral-900);

  /** OUTLINED BUTTONS **/
  --outlined-primary-background: transparent;
  --outlined-primary-background-hover: var(--color-neutral-100);
  --outlined-primary-background-active: var(--color-neutral-100);
  --outlined-primary-background-disabled: transparent;
  --border-color-outlined-error: var(--color-error-300);

  /** ERROR BUTTONS **/
  --user-button-color: var(--color-neutral-400);
  --border-error-button: 1px solid var(--color-error-500);
  --border-error-button-hover: var(--color-error-600);
  --error-button-background: inherit;
  --error-button-background-hover: inherit;
  --error-button-background-active: inherit;

  /** OTHER **/
  --stroke-modify-button: var(--color-generic-white);

  /* MODALS */
  --background-modals: var(--color-neutral-50);

  /* OTHER ABOUT BUTTONS */
  --searchbar-focus: var(--color-neutral-500);

  /* CHIPS */
  --chip-with-number-background-color-selected: var(--color-secondary-500);
  --chip-with-number-border: 1px solid var(--color-secondary-500);
  --chip-number-circle-background: var(--color-secondary-400);
  --selected-text-chip-color: var(--color-neutral-900);
  --not-selected-text-chip-color: var(--color-generic-white);

  /* ATTRIBUTES */
  --attributes-background-color: var(--color-neutral-100);
  --last-child-attribute: var(--color-neutral-900);

  /* TOASTER */
  --toast-background-color: var(--color-neutral-100);
  --toast-border-radius: 5px;
  --toast-loader-background: var(--color-neutral-500);

  /* LOADERS */
  --loader-big-part-background: var(--color-neutral-100);
  --loader-small-part-background: var(--color-primary-500);

  /* INPUTS */
  --background-input-field-material: var(--color-neutral-50);

  /* ALERT MESSAGE */
  --alert-message-default-background: var(--color-neutral-100);
  --alert-message-default-color: var(--color-neutral-700);

  --alert-message-warning-background: var(--color-warning-50);
  --alert-message-warning-color: var(--color-warning-700);

  --alert-message-important-background: var(--color-primary-50);
  --alert-message-important-color: var(--color-primary-500);

  --alert-message-error-background: var(--color-error-50);
  --alert-message-error-color: var(--color-error-700);

  /* TAGS */
  --tag-main-color: var(--color-neutral-50);
  --tag-color-live-mint: var(--color-neutral-50);
  --tag-live-mint-background: var(--color-primary-500);
  --tag-sale-background: var(--color-neutral-200);
  --tag-eligible-background: var(--color-success-900);
  --tag-eligible-color: var(--color-success-900);
  --tag-background-color: var(--color-neutral-900);
  --tag-background-color-hover: var(--color-neutral-800);
  --tag-background-color-active: var(--color-neutral-700);
  --filter-tags-background-color: var(--color-secondary-500);
  --filter-tags-font-weight: 400;
  --tag-not-eligible-background: var(--color-neutral-500);
  --tag-not-eligible-color: var(--color-neutral-50);
  --tag-border-sale: none;
  --tag-color-sold: var(--tag-main-color);

  /* FILTER */
  --select-filter-background: var(--color-neutral-50);
}

[theme-mode="dark"] {
  --color-generic-background: var(--color-generic-black);
  --color-primary-50: #f5f5ff;
  --color-primary-100: #e1e1fe;
  --color-primary-200: #c3c4fe;
  --color-primary-300: #9b9dfd;
  --color-primary-400: #7375fd;
  --color-primary-500: #2a4aff;
  --color-primary-600: #0f2fe1;
  --color-primary-700: #001bb2;
  --color-primary-800: #0306ba;
  --color-primary-900: #02058d;
}
