@import url("https://use.typekit.net/col6oad.css");


:root {
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 900;
  --font-family-primary: acumin-pro;
  --font-family-secondary: acumin-pro;
  --border-radius-button: 32px;
  --color-neutral-50: #030408;
  --color-neutral-100: #0e0e23;
  --color-neutral-200: #313949;
  --color-neutral-300: #434f63;
  --color-neutral-400: #55647d;
  --color-neutral-500: #7083a3;
  --color-neutral-600: #99a7be;
  --color-neutral-700: #b5bfd0;
  --color-neutral-800: #d2d8e2;
  --color-neutral-900: #f9fafb;
  --color-primary-50: #f5f5ff;
  --color-primary-100: #e1e1fe;
  --color-primary-200: #c3c4fe;
  --color-primary-300: #9b9dfd;
  --color-primary-400: #7375fd;
  --color-primary-500: #2a4aff;
  --color-primary-600: #0f2fe1;
  --color-primary-700: #001bb2;
  --color-primary-800: #0306ba;
  --color-primary-900: #02058d;
  --color-secondary-50: #f3e7fe;
  --color-secondary-100: #dfc5fd;
  --color-secondary-200: #ca9dfd;
  --color-secondary-300: #b371fe;
  --color-secondary-400: #6d01bc;
  --color-secondary-500: #3f036b;
  --color-secondary-600: #810ef3;
  --color-secondary-700: #005eba;
  --color-secondary-800: #006ad2;
  --color-secondary-900: #0181ff;
  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #86efac;
  --color-success-400: #4ade80;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803d;
  --color-success-800: #0aff96;
  --color-success-900: #042718;
  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;
  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;
  --color-generic-white: #ffffff;
  --color-generic-black: #000000;
  --color-error-black: #000000;
  --color-generic-background: #ffffff;
}

[theme-mode="dark"] {
  --color-generic-background: #000000;
  --color-primary-50: #f5f5ff;
  --color-primary-100: #e1e1fe;
  --color-primary-200: #c3c4fe;
  --color-primary-300: #9b9dfd;
  --color-primary-400: #7375fd;
  --color-primary-500: #2a4aff;
  --color-primary-600: #0f2fe1;
  --color-primary-700: #001bb2;
  --color-primary-800: #0306ba;
  --color-primary-900: #02058d;
}
